<div style="margin: 50px;">
  <div>
    <img 
      style="float: left; padding-right: 10px;"
      height=300
      src="https://live.staticflickr.com/65535/51254442755_da866c1b72_b.jpg"
      alt="Exterior of a large, beautiful library."
    >
    <p>
      Established in 1899, our library 
      has proudly been serving the community for decades.
    </p>
    <p>
      We would love to help you find your next favorite book.
    </p>
    <p>
      The possibilities are endless
    </p>
  </div>
</div>