.card {
  text-align: center;
  display: inline-block;
  padding: 15px;
}

.card img {
  margin: 0 auto;
}

.card a:link, .card a:visited {
  color: black;
}

.card a:hover {
  color:blue;
  border: 2px blue solid;
  padding: 6px;
  border-radius: 25px;
  background-color: white;
}

.card img {
	/* transform: scale(1); */
	transition: .1s ease-in-out;
}
.card img:hover {
	/* transform: scale(1.3); */
  outline: 3px lightblue solid;
  cursor: pointer;
}