<header style="background-color: rgb(211, 249, 211); padding: 20px">

  <login></login> <br>

  <div style="width: fit-content;">
    <h1 class="prata-regular underlined">Cornerstone Library</h1>
  </div>
  <br>

  <nav>
    <ul>
      <li><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Welcome</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
