.prata-regular {
  font-family: "Prata", serif;
  font-weight: 800;
  font-style: normal;
}

.underlined {
  position: relative;
  margin-right: 1rem;
}

.underlined:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 2px black;
  border-color: black transparent transparent transparent;
  border-radius: 50%;
}