<div class="image">
  <img height=200 src="{{book.imgLoc()}}">
</div>

<div class="content">
  <div class="header">{{book.title}}</div>
  <div class="meta">
    <p>By {{book.author}}</p>
    <p>Avg. Rating: {{book.formatAvgRating()}}</p>
    <p style="color: red" [hidden]="!book.currentlyBorrowed()">Currently out</p>
    <p style="color: purple" [hidden]="book.visible || !assumeLibrarian()"><b>Not yet visible to customers</b></p>
  </div>
  <div class="description">
    {{book.description}}
  </div>
  <div class="extra">
    <button [routerLink]="['/details', {id: book.id}]" class="ui tiny button">Details</button>
    @if(assumeLoggedIn()){
      <button [routerLink]="['/review', {id: book.id, title: book.title}]" class="ui tiny button">Add a Review</button>
      @if(assumeLibrarian()){
        <button [routerLink]="['/edit-book', {id: book.id}]" class="ui tiny button">Edit</button>
      }
    }
  </div>
</div>
