<div style="padding: 30px; display:inline-block">
  <span class="book-img">
    <img height=200 src="{{book.imgLoc()}}" style="padding-bottom: 5px">
  </span>
  <span class="book-basic-info">
    <h3>{{book.title}}</h3>
    <p>By {{book.author}}</p>
    <p>Avg. Rating: {{averageUserRating(book.id)}}</p>
  </span>
  <button [routerLink]="['/details', {id: book.id}]">Details</button>
  @if(assumeLoggedIn()){
    <button [routerLink]="['/review', {id: book.id, title: book.title}]">Add a Review</button>
    @if(assumeLibrarian()){
      <button [routerLink]="['/edit-book', {id: book.id}]">Edit</button>
    }
  }
</div>
