<div style="padding-left: 25px; padding-top: 15px;">
  <h1>Editing {{book.title}}</h1>
  <form class="ui form">
    <div class="ui inline fields">
      <label for="title">Title</label><br>
      <div class="ui field">
        <input type="text" name="title" [(ngModel)]="book.title">
      </div>
      <br>

      <label for="author">Author</label><br>
      <div class="ui field">
        <input type="text" name="author" [(ngModel)]="book.author">
      </div>
      <br>

      <label for="publisher">Publisher</label><br>
      <div class="ui field">
        <input type="text" name="publisher" [(ngModel)]="book.publisher">
      </div>
      <br>

      <label for="publicationDate">Publication Date</label><br>
      <div class="ui field">
        <input type="text" name="publicationDate" [(ngModel)]="book.publicationDate">
      </div>
      <br>

      <label for="isbn">ISBN</label><br>
      <div class="ui field">
        <input type="text" name="isbn" [(ngModel)]="book.isbn">
      </div>
      <br>

      <label for="category">Category</label><br>
      <div class="ui field">
        <input type="text" name="category" [(ngModel)]="book.category">
      </div>
      <br>

      <label for="pageCount">Page Count</label><br>
      <div class="ui field">
        <input type="text" name="pageCount" [(ngModel)]="book.pageCount">
      </div>
      <br>

      <label for="description">Description</label><br>
      <div class="ui field">
        <textarea name="description" [(ngModel)]="book.description"></textarea>
      </div>
      <br>

      <div class="ui segment" style="width: fit-content; background-color:burlywood;">
        <label for="currentBorrower">Current Borrower</label><br>
        <div class="ui field">
          <input type="text" name="currentBorrower" [(ngModel)]="book.currentBorrower">
        </div>
        <br>

        <label for="duedate">Due Date</label><br>
        <div class="ui field">
          <input type="text" name="duedate" [(ngModel)]="book.duedate">
        </div>
        <br>

        <button class="ui small white button" style="margin-top: 6px;" (click)="clearBorrowerAndDuedate()">Returned</button>
      </div>
      <label for="visible">Visible in catalog? </label>
      <input class="ui checkbox" type="checkbox" name="visible" [(ngModel)]="book.visible">
    </div>
  </form>
  <button class="ui small green button" (click)="saveBook()">Submit</button>
  <button class="ui small button" (click)="cancel()">Cancel</button>
  <button class="ui small red button" (click)="deleteBook()">Delete Book</button>
</div>