<h1>Editing {{book.title}}</h1>
<form style="overflow: hidden; width:min-content;">
  <label for="title">Title</label>
  <input type="text" name="title" [(ngModel)]="book.title">
  <br>

  <label for="author">Author</label>
  <input type="text" name="author" [(ngModel)]="book.author">
  <br>

  <label for="publisher">Publisher</label>
  <input type="text" name="publisher" [(ngModel)]="book.publisher">
  <br>

  <label for="publicationDate">Publication Date</label>
  <input type="text" name="publicationDate" [(ngModel)]="book.publicationDate">
  <br>

  <div style="background-color:burlywood; padding: 3px; border: 1px solid black; padding-top: 5px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px;">
    <label for="currentBorrower">Current Borrower</label>
    <input type="text" name="currentBorrower" [(ngModel)]="book.currentBorrower">
    <br>

    <label for="duedate">Due Date</label>
    <input type="string" name="duedate" [(ngModel)]="book.duedate">
    <br>

    <button style="margin-top: 6px;" (click)="clearBorrowerAndDuedate()">Returned</button>
  </div>
  <label for="visible">Visible in catalog? </label>
  <input type="checkbox" name="visible" [(ngModel)]="book.visible">
</form>
<button (click)="saveBook()">Submit</button>
<button (click)="cancel()">Cancel</button><br>
<button style="color:rgb(129, 5, 5)" (click)="deleteBook()">Delete Book</button>
