<librarian-toolbar></librarian-toolbar>

<div class="ui action input" style="display:table;">
  <input type="text" style="width:25em;" placeholder="Search..." id="searchbar" (keyup.enter)="filter()" [(ngModel)]="titleSearch">
  <button class="ui green button" (click)="filter()">Go</button>
  <button class="ui small button" (click)="toggleAdvancedSearch()">{{showAdvancedSearch ? "Hide ": "Show "}} Advanced Search</button>
</div>

@if(showAdvancedSearch){
  <div class="ui blue message">
    <form class="ui form">
      <label for="authorfilter">Filter by Author: </label>
      <input type="text" name="authorfilter" id="authorfilter" (keyup.enter)="filter()" [(ngModel)]="authorSearch">
      <br><br>

      <label for="availfilter">Filter by Availability: </label>
      <select name="availfilter" id="availfilter" [(ngModel)]="availSearch">
        @for(availType of availTypes; track availType){
          <option value={{availType}}>{{availType}}</option>
        }
      </select>
      <br>
    </form>
  </div>
}

<button class="ui button" (click)="clearSearch()">Clear Search</button>
<!-- <br>
<br> -->

<div class="ui grey message"> <!-- also liked teal -->
  <form class="ui form">
    <label for="sort-by" class="ui blue label">Sort by: </label> &nbsp;
    @for(item of sortTypes; track item){
      <input type="radio" name="options" (click)="sortBy = item; sort()" [checked]="item === sortBy" class="ui radio checkbox">
      {{item}}
    }
    <br>
  </form>
</div>

<div class="ui items">
  @for(book of books; track book.id){
    <display-book [book]="book" [hidden]="shouldHide(book)"></display-book>
  }
</div>