<librarian-toolbar></librarian-toolbar>

<label for="searchbar">Search: </label>
<input type="text" id="searchbar" (keyup.enter)="filter()" [(ngModel)]="titleSearch">
<button (click)="filter()">Go</button>
<br>

<label for="authorfilter" [hidden]="!showAdvancedSearch">Filter by Author: </label>
<input type="text" id="authorfilter" (keyup.enter)="filter()" [hidden]="!showAdvancedSearch" [(ngModel)]="authorSearch">
<br [hidden]="!showAdvancedSearch">

<label for="availfilter" [hidden]="!showAdvancedSearch">Filter by Availability: </label>
<select name="availfilter" id="availfilter" [hidden]="!showAdvancedSearch" [(ngModel)]="availSearch">
  @for(availType of availTypes; track availType){
    <option value={{availType}}>{{availType}}</option>
  }
</select>
<br [hidden]="!showAdvancedSearch">

<button (click)="toggleAdvancedSearch()">{{showAdvancedSearch ? "Hide ": "Show "}} Advanced Search</button>
<br>
<button (click)="clearSearch()" [hidden]="!titleSearchInUse() && !authorSearchInUse() && !availSearchInUse()">Clear Search</button>
<br>

<label for="sort-by">Sort by: </label>
<select id="sort-by" [(ngModel)]="sortBy" (change)="sort()">
  @for(sortType of sortTypes; track sortType){
    <option value={{sortType}}>{{sortType}}</option>
  }
</select>
<br>

@for(book of books; track book){
  <display-book [book]="book" [hidden]="shouldHide(book)"></display-book>
}
