<div class="ui green message">
  <form class="ui form">
    @if(assumeLoggedIn()){
      <div style="padding-left: 12px">
        Logged in as <b>{{assumedUsername()}}</b>. &nbsp;
        <button class="ui tiny button" (click)="logout()">Log out</button>
      </div>
    } @else {
      <div class="title" (click)="toggleExpandLogin()">
        <i class="{{expandLogin ? 'triangle down' : 'triangle right'}} icon"></i>
        Login or Sign Up
      </div>

      <div class="content" [hidden]="!expandLogin">
        <br>
        <select name="login-or-signup" id="login-or-signup" [(ngModel)]="paneSelection">
          <option value="login">Log In</option>
          <option value="signup">Sign Up</option>
        </select>
        <br>

        @if(paneSelection === "login"){
          <label for="username">Username:</label>
          <input id="username" type="text" (keyup.enter)="login(username, password)" #username>
          <br><br>

          <label for="password">Password:</label>
          <input id="password" type="password" (keyup.enter)="login(username, password)" #password>
          <br><br>

          <button (click)="login(username, password)" style="margin-top: 5px" class="ui green button">Login</button>
        } @else {
          <label for="username">Username:</label>
          <input id="username" type="text" (keyup.enter)="signUp(username, password, signuprole)" #username>
          <br><br>

          <label for="password">Password:</label>
          <input id="password" type="password" (keyup.enter)="signUp(username, password, signuprole)" #password>
          <br><br>

          <label for="roles">I am a:  </label>
          <select id="roles" name="roles" #signuprole>
            @for(role of userRoles; track role){
              <option value={{role}}>{{role}}</option>
            }
          </select>
          <br>
          <button (click)="signUp(username, password, signuprole)" style="margin-top: 5px" class="ui green button">Sign Up</button>
        }
      </div>
    }
  </form>
</div>