<div style="margin: 20px">
  <h1>{{book.title}}</h1>
  <img height=200 width=150 src="{{book.imgLoc()}}" style="padding-bottom: 5px; margin: 15px;"><br>
  <table class="ui definition table" style="width: fit-content;">
    <tbody>
      <tr>
        <td class="two wide column">
          Author
        </td>
        <td>{{book.author}}</td>
      </tr>
      <tr>
        <td>Publisher</td>
        <td>{{book.publisher}}</td>
      </tr>
      <tr>
        <td>Publication Date</td>
        <td>{{book.publicationDate}}</td>
      </tr>
      <tr>
        <td>etc</td>
        <td>etc</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.
        </td>
      </tr>
      <tr>
        <td>etc</td>
        <td>etc</td>
      </tr>
      <tr>
        <td>etc</td>
        <td>etc</td>
      </tr>
    </tbody>
  </table>
  @if(reviews.length > 0){
    <h3 style="display: inline-block; padding-right: 4px;">Reviews -</h3>
    <h4 style="display: inline-block;">Average Rating: {{averageRating()}}</h4>
    <div class="ui comments segment" style="overflow-y: auto; height: 120px; width: 600px; background-color:aliceblue;">
      @for(review of reviews; track review){

        <div class="comment">
          <div class="content">
            <a class="author">{{review.username}}</a>
            &nbsp;
            <div class="metadata">
              <div class="rating">
                {{review.rating}}
                @for(_ of [].constructor(review.rating); track _){
                  <i class="star icon"></i>
                }
              </div>
            </div>
            <div class="text">
              {{review.text}}
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if(!book.currentlyBorrowed()){
    <button class="ui green button" [hidden]="!assumeLoggedIn()" [routerLink]="['/checkout', {id: book.id, title: book.title}]">
      Check Out
    </button>
  } @else {
    <div class="ui red message"><em>Out - due on {{book.duedate}}</em></div><br>
  }
  <button class="ui blue button" routerLink='/search'>Back to Search</button>
</div>
