<h1>{{book.title}}</h1>
<img height=200 width=150 src="{{book.imgLoc()}}" style="padding-bottom: 5px"><br>
<em>Author:</em> {{book.author}}<br>
<em>Publisher:</em> {{book.publisher}}<br>
<em>Publication Date:</em> {{book.publisher}}<br>
@if(!book.currentBorrower){
  <button [hidden]="!assumeLoggedIn()" [routerLink]="['/checkout', {id: book.id, title: book.title, dueback: book.duedate}]">
    Check Out
  </button><br>
} @else {
  <span style="color: red"><em>Out - due on {{book.duedate}}</em></span><br>
}
<button routerLink='/search'>Back to Search</button>
